body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: #444444;
    text-align: center;
}
img {
    opacity: 0.5;
  
 

}

a {
    color: #3e68ad ;
}

a:hover {
     color: white;
}

img:hover {
    opacity: 1;
}

html {
    color: white;
}

button {
    border-radius: 25px;  
    background-color: beige;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.center {
   margin-left: auto;
   margin-right: auto;
   width: 15%;
  
}

.the-text { color: #3e68ad;
background-color:beige; }
.the-text.colorized { color: pink; font-size: 2rem; }

h2 {
    size: 30px;
    color: blue;
}